body {
  font-family:'Raleway', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
a {
  text-decoration: none;
}
.wrap{
  position: relative;
  height: auto;
}
.inner{
  width: 1100px;
  margin: 0 auto;
}
.header{
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  height: 78px;
}
.clearfix{
  content: "";
  display: block;
  clear: both;
}
.header_fixed{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;

}
.header_inner{
  padding-top:15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bolt_icon{
  float: left;
  color: grey;
}
.header_btn{
  float: right;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  background-color: #74cfae;
  display: inline;
  transition: 0.3s;
}
.header_btn:hover{
  color:#333;
}
.main_top_inner{
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}
h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.top_text{
  font-size: 30px;
  color:#c0c0c0;
  margin-top: 20px;
}
h2{
  font-size: 24px;
}
.main_content_sp{
  left: 0;
  right: 0;
  background-color: #74cfae;
  color: #fff;
  width: 100%;
}
.main_content_inner{
  padding-top: 50px;
}
.main_content_sp_text{
  text-align: center;
  margin: 0 100px
}
.main_content_sp_text p{
  font-size: 20px;
  margin-top: 35px;
}
.sp_text{
  margin: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-sp{
  margin: auto;
}
.mein_img6_inner{
  padding-top: 60px;
  padding-bottom: 70px;
}
.main_content_img6 h2{
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
}
.img6_01 {
  margin-left: 100px;
  margin-top: 80px;
}
.img6_01:nth-child(3n+1) {
  margin-left: 0;
}
.img6_01:nth-child(-n+3){
  margin-top: 0;
}
.main_content_img6_box_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img6_01 img{
  opacity: 0.7;
  transition: 0.3s;
}
.img6_01 img:hover{
  opacity: 1;
}
.main_content_img6_text_mailbox{
  margin-top: 90px;
}
.img6_text_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 70px;
}
.main_content_img6_text{
  display: inline-block;
  color: #333;
  vertical-align: middle;
  margin: 0 90px;
  box-sizing: border-box;
  text-align: center;
}
.main_content_img6_mailbox_btn:hover{
  text-decoration:none;
  color: #333;
  transition-duration: 0.3s;
}
.main_content_img6_mailbox_btn{
  display: inline-block;
  background-color: #74cfae;
  padding: 14px 20px;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
}
.skills_inner{
  padding-top: 70px;
  padding-bottom: 100px;
}
.main_content_skills{
  background-color: #4e4e4e;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
.main_content_skills_top{
  margin-bottom: 30px;
}

.main_content_figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure_img_circle{
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 180px;
}
.figure_img_circle:first-child{
  margin-left: 0;
}
figcaption{
  margin-top: 10px;
}
.inner_icon{
  padding-top: 200px;
  padding-bottom: 200px;
}
.content_icon_main{
  display: flex;
  justify-content: center;
}
.content_icon a{
  color:  #74cfae;
  vertical-align: middle;
  box-sizing: border-box;
  align-items: center;
  text-align:center;
  width: 185px;
  padding: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.content_icon a:hover{
  background: #ffff;
}
.inner_footer{
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer_main{
  width: 100%;
  background: #74cfae;
  text-align: right;
}
.footer_text{
  color: #fff;
  margin-left: auto;
}

/*タブ*/
@media screen and (min-width: 768px) and (max-width: 1199px){
.inner{
  width: 97%;
  margin: 0 auto;
  text-align: center;
}
.header_inner{
  width: 97%;
}
.main_content_inner{
  padding-top:50px;
  padding-bottom: 25px;
  width: 97%;
}
.sp_text{
  margin:auto;
  display: inline-block;
}
.main_sp_img{
  text-align: center;
  margin-bottom:20px;
}
.main_content_sp_text{
  margin:0 20px;
}
.main_content_img6_box_top{
  display: block;
  line-height: 0;
}
.img6_01{
  display: block;
  margin:0;
}
.img6_01:nth-child(3){
  margin-bottom: 80px;
}
.img6_text_btn{
  display: inline-block;
  margin:0 10px;
}
.main_content_img6_text{
  margin-bottom: 40px;
}
.main_content_figure{
  display: inline-block;
}
.figure_img_circle{
  margin-top:88px;
  margin-left: 0;
}
.figure_img_circle:nth-first{
  margin-top: 0;
}
.inner_footer{
  text-align: right;
  width: 97%;
}


}

/*スマホ*/
@media screen and (max-width: 767px){
.inner{
  margin: 0 auto;
  width: 97%;
  text-align: center;
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_fixed{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  }
#nav-open{
  display: none;
}
.header_btn{
  display: none;
}
.main_top_inner{
  padding-top: 160px;
  padding-bottom: 130px;
}
h1{
  font-size: 80px;
}
.top_text{
  font-size: 30px;
}
.main_content_inner{
  padding-bottom: 30px;

}
.sp_text{
  margin:auto;
  display: inline-block;
}
.main_sp_img{
  text-align: center;
  margin-bottom:20px;
}
.main_content_sp_text{
  margin:0 20px;
}
.main_content_img6_box_top{
  line-height: 0;
}
.img6_01{
  display: inline-block;
  margin:0;
}
.img6_01:nth-child(3){
  margin-bottom: 50px;
}
.img6_text_btn{
  display: inline-block;
  margin:0 10px;
}
.main_content_img6_text{
  margin-bottom: 40px;
}
.main_content_figure{
  display: inline-block;
}
.figure_img_circle{
  margin-top:80px;
  margin-left: 0;
}
.figure_img_circle:nth-first{
  margin-top: 0;
}
.content_icon{
  margin:0 15px;
}
.inner_icon{
  padding-top: 50px;
  padding-bottom: 0;
}
.content_icon_main{
  display: inline-block;
  width: 100%;
}
.content_icon a{
  display: block;
  padding: 40px 0;
  width: auto;
}
.footer_main{
  text-align: right;
}
.inner_footer{
  text-align: right;
  width: 97%;
}

/*-----ハンバーガーメニューテスト-----*/
.hanbagamenu{
  right: 14px;
  top: 15px;
  padding: 18px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.menu_line{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: #ddd;
  transition: background 0.5s;
  position: relative;
}
.menu_line:before{
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: #ddd;
  position: absolute;
  transform:translateY(8px);
}
.menu_line:after{
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: #ddd;
  position: absolute;
  transform:translateY(-8px);
}

}